body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: #fffbe7;
}
.App header {
  background: #FFD600;
  padding: 1em;
}
nav button {
  margin-right: 1em;
}